body{
    background-color: rgb(58, 104, 104);
}

h1{
    font-size: 20px;
    font-family: Comic Sans MS;
    font-weight: bold;
    color: aliceblue;
}


h2{
    font-size: 16px;
    font-family: Comic Sans MS;
    color: aliceblue;
}
input[type = "text"]{
    font-family: Comic Sans MS;
    font-weight: bold;
}

